.date{
	text-transform: uppercase;
	color: #17CDED;
	letter-spacing: 4px;
}

h2{
	font-size: 28px;
	color: #385E63;
	font-weight: bold;
}

.border-left{
	border-left: 4px solid #B4B4BA;
	padding-left: 0.5%;
	font-weight: 700;
	color: #4E7070;
	
}

p{
	font-weight: 700;
	color: #4E7070;
}

hr {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

body{
	font-family: Source Sans Pro;
	border: 15px solid #B4B4BA;
	padding: 1.2%;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
}


